<!-- Product Section -->
<div class="product-section container-fluid no-padding">
  <!-- Section Header -->
  <div class="section-header">
    <h3>Related Products</h3>
    <p>our vision is to be Earth's most customer centric company</p>
    <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
  </div><!-- Section Header /- -->
  <ng-content></ng-content>
</div><!-- Product Section /- -->
<nav class="ow-pagination">
  <ul class="pager">
    <li class="number"><a href="#">4</a></li>
    <li class="load-more"><a href="#">Load More</a></li>
    <li class="previous"><a href="#"><i class="fa fa-angle-right"></i></a></li>
    <li class="next"><a href="#"><i class="fa fa-angle-left"></i></a></li>
  </ul>
</nav>