<!-- Product Section -->
<div id="product-section" class="product-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <div class="row">
        <!-- Section Header -->
        <div class="section-header">
          <h3>Our Products</h3>
          <p>our vision is to be Earth's most customer centric company</p>
          <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
        </div><!-- Section Header /- -->
  
        <ul id="filters" class="products-categories no-left-padding">
          <li><a data-filter="*" class="active" href="#">All Products</a></li>
          <li><a data-filter=".design" href="#">jewellery</a></li>
          <li><a data-filter=".video" href="#">books</a></li>
          <li><a data-filter=".photography" href="#">watches</a></li>
          <li><a data-filter=".web" href="#">shoes</a></li>
          <li><a data-filter=".design" href="#">electronics</a></li>
          <li><a data-filter=".photography" href="#">mobiles</a></li>
          <li><a data-filter=".video" href="#">more<i class="fa fa-angle-down"></i></a></li>
        </ul>
  
        <div class="input-group">
          <input class="form-control" placeholder="Search You Wants" type="text">
          <span class="input-group-btn">
            <button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
          </span>
        </div>
        <app-product-gird numberpage={{numberpage}}></app-product-gird>
      </div><!-- Row /- -->
      <nav class="ow-pagination">
        <ul class="pager">
          <li class="number"><a>{{numberpage}}</a></li>
          <li class="load-more"><a>Load More</a></li>
          <li class="previous"><a ><i class="fa fa-angle-right" (click)="nextpage()"></i></a></li>
          <li class="next"><a><i class="fa fa-angle-left" (click)="backpage()"></i></a></li>
        </ul>
      </nav>
    </div><!-- Container /- -->
  </div><!-- Product Section /- -->