<!-- Page Banner -->
<div class="page-banner container-fluid no-padding">
  <!-- Container -->
  <div class="container">
    <div class="banner-content">
      <h3>Our Blog</h3>
      <p>our vision is to be Earth's most customer centric company</p>
    </div>
    <ol class="breadcrumb">
      <li><a href="index.html" title="Home">Home</a></li>
      <li class="active">Blog</li>
    </ol>
  </div><!-- Container /- -->
</div><!-- Page Banner /- -->

<!-- Container -->
<div class="container">
  <!-- Content Area -->
  <div class="content-area blog-section col-md-8 col-sm-8 col-xs-12">
    <div class="type-post">
      <div class="col-md-5 col-sm-12 col-xs-12 no-padding entry-cover">
        <a href="blog-post.html"><img src="images/blog-1.jpg" alt="blog"></a>
        <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>July 16</a></span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 blog-content">
        <h3 class="entry-title"><a title="new Collectios are imported In Our shop." href="blog-post.html">new Collectios are <span>imported</span> In Our shop.</a></h3>
        <div class="entry-meta">
          <span class="post-like"><a href="#" title="224 Likes"><i class="fa fa-heart-o"></i>224 Likes</a></span>
          <span class="post-admin"><i class="fa fa-user"></i>Posted By<a href="#" title="Max">Max</a></span>
        </div>
        <div class="entry-content">
          <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless If not for the courage of the Minnow would be lost.</p>
          <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="type-post">
      <div class="col-md-5 col-sm-12 col-xs-12 no-padding entry-cover">
        <a href="blog-post.html"><img src="images/blog-2.jpg" alt="blog"></a>
        <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>May 22</a></span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 blog-content">
        <h3 class="entry-title"><a title="Our shop visitor's new look" href="blog-post.html">Our shop visitor's <span>new look</span></a></h3>
        <div class="entry-meta">
          <span class="post-like"><a href="#" title="145 Likes"><i class="fa fa-heart-o"></i>145 Likes</a></span>
          <span class="post-admin"><i class="fa fa-user"></i>Posted By<a href="#" title="Max">Max</a></span>
        </div>
        <div class="entry-content">
          <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless If not for the courage of the Minnow would be lost.</p>
          <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="type-post">
      <div class="col-md-5 col-sm-12 col-xs-12 no-padding entry-cover">
        <a href="blog-post.html"><img src="images/blog-3.jpg" alt="blog"></a>
        <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>June 18</a></span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 blog-content">
        <h3 class="entry-title"><a title="buyers are saying it's good shop" href="blog-post.html">buyers are saying it's <span>good shop</span></a></h3>
        <div class="entry-meta">
          <span class="post-like"><a href="#" title="150 Likes"><i class="fa fa-heart-o"></i>150 Likes</a></span>
          <span class="post-admin"><i class="fa fa-user"></i>Posted By<a href="#" title="Max">Max</a></span>
        </div>
        <div class="entry-content">
          <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless If not for the courage of the Minnow would be lost.</p>
          <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="type-post">
      <div class="col-md-5 col-sm-12 col-xs-12 no-padding entry-cover">
        <a href="blog-post.html"><img src="images/blog-4.jpg" alt="blog"></a>
        <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>July 14	</a></span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 blog-content">
        <h3 class="entry-title"><a title="Happy Customers enjoying in the street" href="blog-post.html">Happy Customers <span>enjoying</span> in the street</a></h3>
        <div class="entry-meta">
          <span class="post-like"><a href="#" title="230 Likes"><i class="fa fa-heart-o"></i>230 Likes</a></span>
          <span class="post-admin"><i class="fa fa-user"></i>Posted By<a href="#" title="Max">Max</a></span>
        </div>
        <div class="entry-content">
          <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless If not for the courage of the Minnow would be lost.</p>
          <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="type-post">
      <div class="col-md-5 col-sm-12 col-xs-12 no-padding entry-cover">
        <a href="blog-post.html"><img src="images/blog-5.jpg" alt="blog"></a>
        <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>May 17</a></span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 blog-content">
        <h3 class="entry-title"><a title="Best Solds in the this year was watches " href="blog-post.html">Best Solds in the this year was <span>watches</span> </a></h3>
        <div class="entry-meta">
          <span class="post-like"><a href="#" title="120 Likes"><i class="fa fa-heart-o"></i>120 Likes</a></span>
          <span class="post-admin"><i class="fa fa-user"></i>Posted By<a href="#" title="Max">Max</a></span>
        </div>
        <div class="entry-content">
          <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless If not for the courage of the Minnow would be lost.</p>
          <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div><!-- Content Area /- -->

  <!-- Widget Area -->
  <div class="col-md-4 col-sm-4 col-xs-12 widget-area">
    <!-- Widget Search -->
    <aside class="widget widget_search">
      <h3 class="widget-title">Search</h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search You Wants. . .">
        <span class="input-group-btn">
								<button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
							</span>
      </div>
    </aside><!-- Widget Search /- -->
    <!-- Widget Categories -->
    <aside class="widget widget_categories">
      <h3 class="widget-title">Categories</h3>
      <ul>
        <li><a href="#" title="Beautiful Chairs">Beautiful Chairs <span>(5)</span></a></li>
        <li><a href="#" title="Creative Designs">Creative Designs <span>(6)</span></a></li>
        <li><a href="#" title="Trendy Products">Trendy Products <span>(4)</span></a></li>
        <li><a href="#" title="Interior Products">Interior Products <span>(2)</span></a></li>
        <li><a href="#" title="Popular Products">Popular Products <span>(8)</span></a></li>
        <li><a href="#" title="Casual Shirts">Casual Shirts <span>(7)</span></a></li>
      </ul>
    </aside><!-- Widget Categories /-  -->
    <!-- Widget Latest Post -->
    <aside class="widget widget_latest_post">
      <h3 class="widget-title">recent posts</h3>
      <div class="latest-box">
        <div class="post-box">
          <a href="#"><img src="images/latest-post-1.jpg" alt="Post"></a>
          <h5><a href="#" title="need max shop.">need max shop</a></h5>
          <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>July 20, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
        </div>
      </div>
      <div class="latest-box">
        <div class="post-box">
          <a href="#"><img src="images/latest-post-2.jpg" alt="Post"></a>
          <h5><a href="#" title="Commenly use products">Commenly use products</a></h5>
          <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>June 18, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
        </div>
      </div>
      <div class="latest-box">
        <div class="post-box">
          <a href="#"><img src="images/latest-post-3.jpg" alt="Post"></a>
          <h5><a href="#" title="chairs are beautiful">chairs are beautiful</a></h5>
          <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>May 23, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
        </div>
      </div>
    </aside><!-- Widget Latest Post /- -->
    <!-- Widget Tags -->
    <aside class="widget widget_tags">
      <h3 class="widget-title">popular tags</h3>
      <div class="tags-box">
        <a href="#" title="Chairs">Chairs</a>
        <a href="#" title="Modern Designs">Modern Designs</a>
        <a href="#" title="Watches">Watches</a>
        <a href="#" title="Future">Future</a>
        <a href="#" title="Popular Products">Popular Products</a>
        <a href="#" title="Trendy">Trendy</a>
        <a href="#" title="Interier">Interier</a>
        <a href="#" title="Modern">Modern</a>
      </div>
    </aside><!-- Widget Tags -->
    <!-- Widget Tags -->
    <aside class="widget widget_tweets">
      <h3 class="widget-title">latest tweets</h3>
      <!-- Main Carousel -->
      <div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel1" data-slide-to="1"></li>
          <li data-target="#main-carousel1" data-slide-to="2"></li>
        </ol>
        <div role="listbox" class="carousel-inner">
          <div class="item active">
            <h5>tweet@John max</h5>
            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
            <a href="#">http://goo.gl/6CbMtH</a>
            <span>5 Hours ago</span>
          </div>
          <div class="item">
            <h5>tweet@John max</h5>
            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
            <a href="#">http://goo.gl/6CbMtH</a>
            <span>5 Hours ago</span>
          </div>
          <div class="item">
            <h5>tweet@John max</h5>
            <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
            <a href="#">http://goo.gl/6CbMtH</a>
            <span>5 Hours ago</span>
          </div>
        </div>
      </div>
    </aside>
  </div><!-- Widget Area /- -->

  <nav class="ow-pagination">
    <ul class="pager">
      <li class="number"><a href="#">4</a></li>
      <li class="load-more"><a href="#">Load More</a></li>
      <li class="previous"><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li class="next"><a href="#"><i class="fa fa-angle-left"></i></a></li>
    </ul>
  </nav>
</div><!-- Container /- -->