<app-banner>
  <h3>Our Blog</h3>
  <p>our vision is to be Earth's most customer centric company</p>
</app-banner>
<!-- Container -->
<div class="container">
  <!-- Content Area -->
  <div class="content-area blog-section col-md-8 col-sm-8 col-xs-12">
    <app-product-blog></app-product-blog>
    <app-product-blog></app-product-blog>
    <app-product-blog></app-product-blog>
    <app-product-blog></app-product-blog>
  </div><!-- Content Area /- -->

  <!-- Widget Area -->
  <div class="col-md-4 col-sm-4 col-xs-12 widget-area">
    <!-- Widget Search -->
    <app-search-blog></app-search-blog>
    <!-- Widget Search /- -->
    <!-- Widget Categories -->
    <app-categories-blog></app-categories-blog>
    <!-- Widget Categories /-  -->
    <!-- Widget Latest Post -->
    <app-latest-post-blog></app-latest-post-blog>
    <!-- Widget Latest Post /- -->
    <!-- Widget Tags -->
    <app-tags-blog></app-tags-blog>
    <!-- Widget Tags /-->
    <!-- Widget Tweets -->
    <app-tweets-blog></app-tweets-blog>
    <!-- Widget Tweets /-->
  </div><!-- Widget Area /- -->

  <nav class="ow-pagination">
    <ul class="pager">
      <li class="number"><a href="#">4</a></li>
      <li class="load-more"><a href="#">Load More</a></li>
      <li class="previous"><a href="#"><i class="fa fa-angle-right"></i></a></li>
      <li class="next"><a href="#"><i class="fa fa-angle-left"></i></a></li>
    </ul>
  </nav>
</div><!-- Container /- -->