
  <!-- Header -->
  <header id ="header-page" class="{{style_header }}">
    <!-- Top Header -->
    <div class="{{style_top_header}}">
      <!-- Container -->
      <div class="container">
        <div class="col-md-7 col-sm-7 col-xs-7 dropdown-bar">
          <h5>Welcome To Max Shop</h5>
          <div class="language-dropdown dropdown">
            <button aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" title="languages" id="language" type="button" class="btn dropdown-toggle">English
              <span class="caret"></span></button>
            <ul class="dropdown-menu no-padding">
              <li><a title="Danish" href="#">Danish</a></li>
              <li><a title="German" href="#">German</a></li>
              <li><a title="French" href="#">French</a></li>
            </ul>
          </div>
          <div class="language-dropdown dropdown">
            <button aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" title="currency" id="currency" type="button" class="btn dropdown-toggle">US
              Dollar<span class="caret"></span></button>
            <ul class="dropdown-menu no-padding">
              <li><a title="Danish" href="#">Usd</a></li>
              <li><a title="German" href="#">Ora</a></li>
              <li><a title="French" href="#">Riyal</a></li>
            </ul>
          </div>
        </div>
        <!-- Social -->
        <div class="col-md-5 col-sm-5 col-xs-5 header-social">
          <ul>
            <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div><!-- Social /- -->
      </div><!-- Container /- -->
    </div><!-- Top Header /- -->

    <ng-content></ng-content>

  </header><!-- Header /- -->