<!-- Selling -->
<div id="selling" class="container-fluid no-left-padding no-right-padding woocommerce-selling">
  <!-- Container -->
  <div class="container">
    <!-- Section Header -->
    <div class="section-header">
      <h3>Best Selling</h3>
      <p> our vision is to be Earth's most customer centric company</p>
      <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
    </div><!-- Section Header /- -->
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-1.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">mens casual belts</a></h6>
          <span class="price"><del>$75</del> $49</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-2.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">attractive chains</a></h6>
          <span class="price"><del>$220</del> $149</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-3.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">ladies bags</a></h6>
          <span class="price"><del>$325</del> $249</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-4.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">casual shirts</a></h6>
          <span class="price"><del>$240</del> $179</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-5.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">ladies wallets</a></h6>
          <span class="price"><del>$120</del> $79</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div  class="selling-box">
        <img src="../../../assets/images/selling-6.jpg" alt="selling" />
        <div class="selling-content">
          <h6><a href="#">huvai chappals</a></h6>
          <span class="price"><del>$850</del> $550</span>
          <div class="star-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
        <div class="icon-list">
          <a href="#"><i class="fa fa-arrows-alt"></i></a>
          <a href="#"><i class="fa fa-heart-o"></i></a>
        </div>
      </div>
    </div>
  </div><!-- Container /- -->
</div><!-- Selling /- -->