<app-header>
  <app-menu1></app-menu1>
</app-header>
<main>
  <app-banner>
      <h3>Conatct Us</h3>
      <p>our vision is to be Earth's most customer centric company</p>
  </app-banner>
        
  <!-- Contact Us -->
  <div class="contact-us container-fluid no-padding">
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="contact-detail">
        <!-- Section Header -->
        <div class="section-header">
          <h3>Get In Touch</h3>
          <p>Also Connect With Social Media To Anytime</p>
        </div><!-- Section Header /- -->
        <div class="contact-info">
          <i class="icon icon-Pointer"></i>
          <p>Max Shop, 65 Huge Street Melbourne,</p> 
          <p>2850 Australia.</p>
        </div>
        <div class="contact-info">
          <i class="icon icon-Phone2"></i>
          <a href="tel:(11)1234567890" title="Phone" class="phone">(11) 123 456 7890</a>
        </div>
        <div class="contact-info">
          <i class="icon icon-Phone2"></i>
          <a href="mailto:info@maxshop.com" title="info@maxshop.com">info@maxshop.com</a>
        </div>
        <ul class="social">
          <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
          <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="form-detail">
        <!-- Section Header -->
        <div class="section-header">
          <h3>Send a Message</h3>
          <p>Feel Free To Say Everything And Ask Questions</p>
        </div><!-- Section Header /- -->
        <form>
          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
            <input type="text" name="contact-name" class="form-control" id="input_name" placeholder="Full Name *" required/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
            <input type="text" name="contact-email" class="form-control" id="input_email" placeholder="Email Address *" required/>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <input type="text" required="" placeholder="Subject *" id="input_subject" class="form-control" name="contact-subject">
          </div>
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <textarea placeholder="Type Your Message . . ." id="textarea_message" name="contact-message" rows="5" class="form-control"></textarea>
          </div>
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button title="Submit" type="submit" id="btn_submit" name="post">Send Message</button>
          </div>
          <div id="alert-msg" class="alert-msg"></div>
        </form>
      </div>
    </div>
    <!-- Map Section -->
    <div class="map container-fluid no-padding">
      <div class="map-canvas" id="map-canvas-contact" data-lat="-32.559356" data-lng="149.564237" data-string="Max Shop, 65 Huge Street Melbourne,  2850 Australia." data-zoom="12"></div>
      <a href="#">Max <span>Shop</span></a>
    </div><!--  Map Section /- -->
  </div><!-- Contact Us /- -->
</main>
<app-footer></app-footer>