<!-- Slider Section 1 -->
<div id="home-revslider" class="slider-section slider-section-1 container-fluid no-padding">
  <!-- START REVOLUTION SLIDER 5.0 -->
  <div class="rev_slider_wrapper">
    <div id="home-slider2" class="rev_slider" data-version="5.0">
      <ul>
        <li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
          <img src="../../../assets/images/slider-2.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-1" 
            data-x="['center','center','center','center']" data-hoffset="['120','30','-80','-70']" 
            data-y="['top','top','top','top']" data-voffset="['300','200','150','70']" 
            data-fontsize="['48','38','30','16']"
            data-lineheight="['30','30','30','30']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; letter-spacing: 1.92px; position:relative; color:#333; font-weight: normal; font-family: 'Arizonia', cursive;">trends of 2016
          </div>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-2" 
            data-x="['center','center','center','center']" data-hoffset="['250','130','-10','-30']" 
            data-y="['top','top','top','top']" data-voffset="['365','260','200','100']" 
            data-fontsize="['48','38','30','16']"
            data-lineheight="['30','30','30','30']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; position:relative; color:#b6795f; font-weight: normal; font-family: 'Montserrat', sans-serif; text-transform: uppercase">men's collections
          </div>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-3" 
            data-x="['center','center','center','center']" data-hoffset="['270','200','100','125']" 
            data-y="['top','top','top','top']" data-voffset="['425','315','245','135']" 
            data-fontsize="['18','18','18','16']"
            data-lineheight="['27','27','27','27']"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; letter-spacing: 0.72px; position:relative; color:#333; font-weight: normal; font-family: 'Lato', sans-serif;">The weather started getting rough is the tiny ship was tossed. If not for<br> the courage of the fearless crew.
          </div>
          <div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-4" 
            data-x="['middle','middle','center','center']" data-hoffset="['85','15','-90','-10']" 
            data-y="['top','top','top','top']" data-voffset="['515','410','335','220']"  
            data-fontsize="['14','14','13','12']"
            data-lineheight="['24','24','24','24']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
            data-style_hover="c:rgb(255, 255, 255);bg:rgba(182, 121, 95);"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="2000" 
            data-splitin="none" 
            data-splitout="none" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
            data-responsive_offset="on" 
            data-responsive="off"
            style="z-index: 10; padding:8px 38px; letter-spacing:0.56px; color: #b6795f; border-color: #b6795f; font-family: 'Montserrat', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Shop Now
          </div>
        </li>
        
        <li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
          <img src="../../../assets/images/slider-2.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-5" 
            data-x="['center','center','center','center']" data-hoffset="['120','30','-80','-70']" 
            data-y="['top','top','top','top']" data-voffset="['300','200','150','70']" 
            data-fontsize="['48','38','30','16']"
            data-lineheight="['30','30','30','30']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; letter-spacing: 1.92px; position:relative; color:#333; font-weight: normal; font-family: 'Arizonia', cursive;">trends of 2016
          </div>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-6" 
            data-x="['center','center','center','center']" data-hoffset="['250','130','-10','-30']" 
            data-y="['top','top','top','top']" data-voffset="['365','260','200','100']" 
            data-fontsize="['48','38','30','16']"
            data-lineheight="['30','30','30','30']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; position:relative; color:#b6795f; font-weight: normal; font-family: 'Montserrat', sans-serif; text-transform: uppercase">men's collections
          </div>
          <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-layer-7" 
            data-x="['center','center','center','center']" data-hoffset="['270','200','100','125']" 
            data-y="['top','top','top','top']" data-voffset="['425','315','245','135']" 
            data-fontsize="['18','18','18','16']"
            data-lineheight="['27','27','27','27']"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="1000" 
            data-splitin="chars" 
            data-splitout="none" 
            data-responsive_offset="on"
            data-elementdelay="0.05" 
            style="z-index: 5; white-space: nowrap; letter-spacing: 0.72px; position:relative; color:#333; font-weight: normal; font-family: 'Lato', sans-serif;">The weather started getting rough is the tiny ship was tossed. If not for<br> the courage of the fearless crew.
          </div>
          <div class="tp-caption NotGeneric-Button rev-btn  rs-parallaxlevel-0" id="slide-layer-8" 
            data-x="['middle','middle','center','center']" data-hoffset="['85','15','-90','-10']" 
            data-y="['top','top','top','top']" data-voffset="['515','410','335','220']"  
            data-fontsize="['14','14','13','12']"
            data-lineheight="['24','24','24','24']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-transform_idle="o:1;"
            data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:100;e:Power1.easeInOut;"
            data-style_hover="c:rgb(255, 255, 255);bg:rgba(182, 121, 95);"
            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
            data-start="2000" 
            data-splitin="none" 
            data-splitout="none" 
            data-actions='[{"event":"click","action":"scrollbelow","offset":"0px"}]'
            data-responsive_offset="on" 
            data-responsive="off"
            style="z-index: 10; padding:8px 38px; letter-spacing:0.56px; color: #b6795f; border-color: #b6795f; font-family: 'Montserrat', sans-serif; text-transform:uppercase; background-color:transparent; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">Shop Now
          </div>
        </li>
      </ul>
    </div><!-- END REVOLUTION SLIDER -->
  </div><!-- END OF SLIDER WRAPPER -->
  <div class="goto-next"><a href="#collection"><i class="icon icon-Mouse bounce"></i></a></div>
</div><!-- Slider Section 1 /- -->