<aside class="widget widget_latest_post">
  <h3 class="widget-title">recent posts</h3>
  <div class="latest-box">
    <div class="post-box">
      <a href="#"><img src="../../../assets/images/latest-post-1.jpg" alt="Post"></a>
      <h5><a href="#" title="need max shop.">need max shop</a></h5>
      <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>July 20, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
    </div>
  </div>
  <div class="latest-box">
    <div class="post-box">
      <a href="#"><img src="../../../assets/images/latest-post-2.jpg" alt="Post"></a>
      <h5><a href="#" title="Commenly use products">Commenly use products</a></h5>
      <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>June 18, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
    </div>
  </div>
  <div class="latest-box">
    <div class="post-box">
      <a href="#"><img src="../../../assets/images/latest-post-3.jpg" alt="Post"></a>
      <h5><a href="#" title="chairs are beautiful">chairs are beautiful</a></h5>
      <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>May 23, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
    </div>
  </div>
</aside>