<!-- Collection Section -->
<div id="collection" class="collection-section container-fluid no-padding">
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="img-box">
        <img src="../../../assets/images/collection-1.jpg" alt="collection" />
      </div>
      <div class="collection-content">
        <h5>mens collectios</h5>
        <p>new looks arrivad</p>
        <a href="#" title="Shop Now">shop Now</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
      <div class="img-box">
        <img src="../../../assets/images/collection-2.jpg" alt="collection" />
      </div>
      <div class="collection-content">
        <h5>kids collectios</h5>
        <p>new looks arrivad</p>
        <a href="#" title="Shop Now">shop Now</a>
      </div>
    </div>
  </div><!-- Collection Section /- -->