<app-header>
  <app-menu1></app-menu1>
</app-header>
<main>

  <app-banner>
    <h3>About Us</h3>
    <p>our vision is to be Earth's most customer centric company</p>
  </app-banner>

  <!-- About Section -->
  <div class="about-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h3>About Our Max Shop</h3>
        <p>our vision is to be Earth's most customer centric company</p>
        <img src="../../../assets/images/section-seprator.png" alt="section-seprator">
      </div><!-- Section Header /- -->
      <div class="col-md-6 col-sm-6 col-xs-6">
        <img src="../../../assets/images/about.jpg" alt="about">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="about-content">
          <h5>When you shop on <span>max shop</span> you can assured about the quality of the products you're buying.</h5>
          <p>You wanna be where you can see our troubles are all the same. You wanna be where everybody knows Your name.
            So lets make the most of this beautiful day. Since we're together. , We're gonna do it. On your mark get set
            and go now.</p>
          <p>Makin their way the only way they know how. That's just a little bit more than the law will allow. Doin' it
            our way. </p>
          <ul>
            <li>We Provide Only Branded Products</li>
            <li>Max Shop Provides Best Offers</li>
            <li>Our Shop Located In World Wide</li>
          </ul>
        </div>
      </div>
    </div><!-- Container /- -->
  </div><!-- About Section /- -->

  <!-- Team Section -->
  <div class="team-section container-fluid">
    <!-- Container -->
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h3>Our Excellent Team</h3>
        <p>our vision is to be Earth's most customer centric company</p>
        <img src="../../../assets/images/section-seprator.png" alt="section-seprator">
      </div><!-- Section Header /- -->
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-detail">
          <div class="team-box">
            <img src="../../../assets/images/team-1.jpg" alt="team">
            <h3>james Christ</h3>
          </div>
          <div class="team-content">
            <h5>Web Designer</h5>
            <p>Believe it or not I'm walking on air.on a wing and a prayer.</p>
            <ul class="social">
              <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-detail">
          <div class="team-box">
            <img src="../../../assets/images/team-2.jpg" alt="team">
            <h3>jhon smith</h3>
          </div>
          <div class="team-content">
            <h5>Programmer</h5>
            <p>Believe it or not I'm walking on air.on a wing and a prayer.</p>
            <ul class="social">
              <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-detail">
          <div class="team-box">
            <img src="../../../assets/images/team-3.jpg" alt="team">
            <h3>jhon doe</h3>
          </div>
          <div class="team-content">
            <h5>Web Developer</h5>
            <p>Believe it or not I'm walking on air.on a wing and a prayer.</p>
            <ul class="social">
              <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-detail">
          <div class="team-box">
            <img src="../../../assets/images/team-4.jpg" alt="team">
            <h3>stuart max</h3>
          </div>
          <div class="team-content">
            <h5>Web Designer</h5>
            <p>Believe it or not I'm walking on air.on a wing and a prayer.</p>
            <ul class="social">
              <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
              <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- Container /- -->
  </div><!-- Team Section -->

  <!-- Testimonial Section -->
  <app-testimonial1></app-testimonial1>
  <!-- Testimonial Section /- -->

  <!-- Clients -->
  <app-clients></app-clients>
  <!-- Clients /- -->
</main>

<app-footer>
  <app-services></app-services>
</app-footer>