<!-- Category Section -->
<div id="category-section" class="category-section container-fluid no-padding">
  <div class="category-carousel">
    <div *ngFor="let category of data_all"  class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="category-box layout-{{data_all.indexOf(category)+1}}">

        <img src="../../../assets/images/category-1.jpg" alt="category" />
        <div class="category-content">
          <p>{{ category.name }}</p>
          <h5>save upto 40%</h5>
          <a href="#" title="Shop Now">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- Category Section /- -->