<!-- Product Section2 -->
<div class="product-section product-section1 product-section2 container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <div class="row">
        <!-- Widget Area -->
        <div class="col-md-4 col-sm-4 col-xs-12 widget-area no-right-padding">
          <!-- Widget Search -->
          <aside class="widget widget_search">
            <h3 class="widget-title">Search</h3>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search You Wants. . .">
              <span class="input-group-btn">
                <button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
              </span>
            </div>
          </aside><!-- Widget Search /- -->
          <!-- Widget Categories -->
          <aside class="widget widget_categories">
            <h3 class="widget-title">Categories</h3>
            <ul>
              <li><a href="#" title="Beautiful Chairs">Beautiful Chairs <span>(5)</span></a></li>
              <li><a href="#" title="Creative Designs">Creative Designs <span>(6)</span></a></li>
              <li><a href="#" title="Trendy Products">Trendy Products <span>(4)</span></a></li>
              <li><a href="#" title="Interior Products">Interior Products <span>(2)</span></a></li>
              <li><a href="#" title="Popular Products">Popular Products <span>(8)</span></a></li>
              <li><a href="#" title="Casual Shirts">Casual Shirts <span>(7)</span></a></li>
            </ul>
          </aside><!-- Widget Categories /-  -->
          <!-- Widget Price -->
          <aside class="widget widget_price_filter">
            <h3 class="widget-title">filter by price</h3>
            <div class="price-filter">
              <div id="slider-range"></div>
              <div class="price-input">									
                <span id="amount"></span>
                <span id="amount2"></span>
              </div>
              <a href="#" title="filter">Filter</a>
            </div>
          </aside><!-- Widget Price /- -->
          <!-- Widget Latest Post -->
          <aside class="widget widget_latest_post">
            <h3 class="widget-title">recent posts</h3>
            <div class="latest-box">
              <div class="post-box">
                <a href="#"><img src="../../../assets/images/latest-post-1.jpg" alt="Post"></a>
                <h5><a href="#" title="need max shop.">I Phone 6s sales on</a></h5>
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="price"><del>$955</del>$789</span>
              </div>
            </div>
            <div class="latest-box">
              <div class="post-box">
                <a href="#"><img src="../../../assets/images/latest-post-2.jpg" alt="Post"></a>
                <h5><a href="#" title="need max shop.">mens casual footwear</a></h5>
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="price"><del>$185</del>$120</span>
              </div>
            </div>
            <div class="latest-box">
              <div class="post-box">
                <a href="#"><img src="../../../assets/images/latest-post-3.jpg" alt="Post"></a>
                <h5><a href="#" title="need max shop.">running shoes</a></h5>
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="price"><del>$150</del>$85</span>
              </div>
            </div>
          </aside><!-- Widget Latest Post /- -->
          <!-- Widget Tags -->
          <aside class="widget widget_tags">
            <h3 class="widget-title">popular tags</h3>
            <div class="tags-box">
              <a href="#" title="Chairs">Chairs</a>
              <a href="#" title="Modern Designs">Modern Designs</a>
              <a href="#" title="Watches">Watches</a>
              <a href="#" title="Future">Future</a>
              <a href="#" title="Popular Products">Popular Products</a>
              <a href="#" title="Trendy">Trendy</a>
              <a href="#" title="Interier">Interier</a>
              <a href="#" title="Modern">Modern</a>
            </div>
          </aside><!-- Widget Tags -->
        </div><!-- Widget Area /- -->
        
        <!-- Content Area -->
        <div class="col-md-8 col-sm-7 col-xs-12 content-area product-section2 no-left-padding">
          <!-- Products -->
         
          <app-product-gird numberpage={{numberpage}}></app-product-gird>

        </div><!-- Content Area /- -->
      </div><!-- Row /- -->
      <nav class="ow-pagination">
        <ul class="pager">
          <li class="number"><a>{{numberpage}}</a></li>
          <li class="load-more"><a >Load More</a></li>
          <li class="previous"><a ><i class="fa fa-angle-right" (click)="nextpage()"></i></a></li>
          <li class="next"><a><i class="fa fa-angle-left" (click)="backpage()"></i></a></li>
        </ul>
      </nav>
    </div><!-- Container /- -->
  </div><!-- Product Section2 /- -->