<!-- Products -->
<ul class="products">
    <!-- Product -->
    <li *ngFor="let item of listproduct" class="product design">
      <a href="#">
        <img src="http://192.168.1.23/maxshop/maxshop/public/{{item.img}}" alt="Product" width="270" height="300"/>
        <h5>{{item.name}}</h5>
        <span class="price"><del>${{item.priceold}}</del>${{item.pricenew}}</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
  </ul><!-- Products /- -->