<!-- Products -->
<ul class="products">
    <!-- Product -->
    <li class="product design">
      <a href="#">
        <img src="../../../assets/images/product-1.jpg" alt="Product" />
        <h5>Stylish Chair</h5>
        <span class="price"><del>$200</del>$139</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product video">
      <a href="#">
        <img src="../../../assets/images/product-2.jpg" alt="Product" />
        <h5>men's casual shoes</h5>
        <span class="price"><del>$150</del>$85</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product photography">
      <a href="#">
        <img src="../../../assets/images/product-3.jpg" alt="Product" />
        <h5>Sun glass</h5>
        <span class="price"><del>$100</del>$35</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product web">
      <a href="#">
        <img src="../../../assets/images/product-4.jpg" alt="Product" />
        <h5>tourist bags</h5>
        <span class="price"><del>$350</del>$279</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product design">
      <a href="#">
        <img src="../../../assets/images/product-5.jpg" alt="Product" />
        <h5>mobile phone</h5>
        <span class="price"><del>$450</del>$359</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product video">
      <a href="#">
        <img src="../../../assets/images/product-6.jpg" alt="Product" />
        <h5>men's winter coat</h5>
        <span class="price"><del>$220</del>$129</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product photography">
      <a href="#">
        <img src="../../../assets/images/product-7.jpg" alt="Product" />
        <h5>Model x12 computer</h5>
        <span class="price"><del>$850</del>$550</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
    
    <!-- Product -->
    <li class="product web">
      <a href="#">
        <img src="../../../assets/images/product-8.jpg" alt="Product" />
        <h5>Stylish headset</h5>
        <span class="price"><del>$50</del>$29</span>
      </a>
      <div class="wishlist-box">
        <a href="#"><i class="fa fa-arrows-alt"></i></a>
        <a href="#"><i class="fa fa-heart-o"></i></a>
        <a href="#"><i class="fa fa-search"></i></a>
      </div>
      <a href="#" class="addto-cart" title="Add To Cart">Add To Cart</a>
    </li><!-- Product /- -->
  </ul><!-- Products /- -->