<!-- Collection Section1 -->
<div id="collection" class="collection-section collection-section1 container-fluid no-padding">
  <div class="collection-carousel">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="collection-box layout1">
        <img src="../../../assets/images/collection-3.jpg" alt="collection" />
        <div class="collection-content">
          <h5>mens collectios</h5>
          <p>new looks arrivad</p>
          <a href="#" title="Shop Now">shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="collection-box layout1 layout2">
        <img src="../../../assets/images/collection-4.jpg" alt="collection" />
        <div class="collection-content">
          <h5>accessories</h5>
          <p>new brands arrivad</p>
          <a href="#" title="Shop Now">shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="collection-box layout1 layout3">
        <img src="../../../assets/images/collection-5.jpg" alt="collection" />
        <div class="collection-content">
          <h5>kids collections</h5>
          <p>new looks arrivad</p>
          <a href="#" title="Shop Now">shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div><!-- Collection Section1 -->