<aside class="widget widget_tweets">
  <h3 class="widget-title">latest tweets</h3>
  <!-- Main Carousel -->
  <div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel1" data-slide-to="1"></li>
      <li data-target="#main-carousel1" data-slide-to="2"></li>
    </ol>
    <div role="listbox" class="carousel-inner">
      <div class="item active">
        <h5>tweet@John max</h5>
        <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
        <a href="#">http://goo.gl/6CbMtH</a>
        <span>5 Hours ago</span>
      </div>
      <div class="item">
        <h5>tweet@John max</h5>
        <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
        <a href="#">http://goo.gl/6CbMtH</a>
        <span>5 Hours ago</span>
      </div>
      <div class="item">
        <h5>tweet@John max</h5>
        <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
        <a href="#">http://goo.gl/6CbMtH</a>
        <span>5 Hours ago</span>
      </div>
    </div>
  </div>
</aside>