<!-- Testimonial Section -->
<div class="testimonial-section testimonial-section1 container-fluid">
  <!-- Container -->
  <div class="container">
    <!-- Section Header -->
    <div class="section-header">
      <h3>Clients Testimonials</h3>
      <p>our vision is to be Earth's most customer centric company</p>
      <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
    </div><!-- Section Header /- -->
    <!-- Main Carousel -->
    <div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel1" data-slide-to="1"></li>
        <li data-target="#main-carousel1" data-slide-to="2"></li>
      </ol>
      <div role="listbox" class="carousel-inner">
        <div class="item active">
          <div class="testimonial-content">
            <img src="../../../assets/images/testi-1.png" alt="testi" />
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
            <span class="star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
            <h3>Strahow stuart</h3>
            <h5>Web Designer</h5>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-content">
            <img src="../../../assets/images/testi-1.png" alt="testi" />
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
            <span class="star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
            <h3>Strahow stuart</h3>
            <h5>Web Designer</h5>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-content">
            <img src="../../../assets/images/testi-1.png" alt="testi" />
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you and me baby. There ain't nothin'  Beats all you've ever saw been in trouble with the law since the day. </p>
            <span class="star">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </span>
            <h3>Strahow stuart</h3>
            <h5>Web Designer</h5>
          </div>
        </div>
      </div>
    </div><!-- Main Carousel /-  -->
  </div><!-- Container /- -->
</div><!-- Testimonial Section /- -->