<!-- Services Section -->
<div class="services-section container-fluid">
  <!-- Container -->
  <div class="container">
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="srv-box">
        <i class="icon icon-Truck"></i><h5>Free delivery</h5><i class="icon icon-Dollar"></i>
        <span class="icon_close"></span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="srv-box">
        <i class="icon icon-Goto"></i><h5>Money Back</h5><i class="icon icon-Dollars"></i>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="srv-box">
        <i class="icon icon-Headset"></i><h5>24/7 support</h5><i class="icon icon-Timer"></i>
      </div>
    </div>
  </div><!-- Container /- -->
</div><!-- Services Section /- -->