<app-header>
  <app-menu1></app-menu1>
  <app-banner>
    <h3>Shop single</h3>
    <p>OUR VISION IS TO BE EARTH'S MOST CUSTOMER CENTRIC COMPANY</p>
  </app-banner>
  <!-- Shop Single -->
  <!-- Shop Single -->
  <div class="shop-single container-fluid no-padding">
      <!-- Container -->
      <div class="container">
        <div class="product-views">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="carousel-item">
              <div class="item">
                <img src="../../../assets/images/product.jpg" alt="product" />
              </div>
              <div class="item">
                <img src="../../../assets/images/product.jpg" alt="product" />
              </div>
              <div class="item">
                <img src="../../../assets/images/product.jpg" alt="product" />
              </div>
            </div>
          </div>
          <!-- Entry Summary -->
          <div class="col-md-6 col-sm-6 col-xs-12 entry-summary">
            <h3 class="product_title">mens casual shoes</h3>
            <div class="product-rating">
              <div class="star-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <a href="#review-link" class="review-link">20 reviews</a>
            </div>
            <p class="stock in-stock"><span>Availablity:</span> in stock</p>
            <div>
              <p>So this is the tale of our castaways they're here for a long long time. They'll have to make the best of things its an uphill climb. Now were up in the big leagues getting' our turn at bat.</p>
            </div>
            <span class="price"><del>$850</del> $550</span>
            <form>
              <div class="product-attribute">
                <div class="select">
                  <select>
                    <option>Color *</option>
                    <option>Black</option>
                    <option>Green</option>
                    <option>Blue</option>
                  </select>
                </div>
                <div class="select">
                  <select>
                    <option>Size *</option>
                    <option>L</option>
                    <option>M</option>
                    <option>XL</option>
                    <option>XXL</option>
                  </select>
                </div>
              </div>
              <div class="product-quantity" data-title="Quantity">
                <input type="button" value="-" class="qtyminus btn" data-field="quantity1">
                <input type="text" name="quantity1" value="0" class="qty btn">
                <input type="button" value="+" class="qtyplus btn" data-field="quantity1">
              </div>
              <button title="Add To Cart" class="add_to_cart">Add To Cart</button>
            </form>
            <div class="product_meta">
              <span class="posted_in">
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-retweet"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </span>
              <ul class="social">
                <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="#" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
              </ul>
            </div>
          </div><!-- Entry Summary /- -->
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 description">
          <h5>Description about this product</h5>
          <p>A shadowy flight into the dangerous world of a man who does not exist. And we'll do it our way yes our way. Make all our dreams come true for me and you. Makin their way the only way they know how. That's just a little bit more than the law will allow. Doin' it our way. Nothin's gonna turn us back now. Straight ahead and on the track now. We're gonna make our dreams come true Takin' a break from all your worries sure would help a lot. Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just me. </p>
        </div>
        <!-- Product Section -->
        <div class="product-section container-fluid no-padding">
          <!-- Section Header -->
          <div class="section-header">
            <h3>Related Products</h3>
            <p>our vision is to be Earth's most customer centric company</p>
            <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
          </div><!-- Section Header /- -->
          <!-- Products -->
          <ul class="products">
            <app-product-gird></app-product-gird>
          </ul><!-- Products /- -->
        </div><!-- Product Section /- -->
        <nav class="ow-pagination">
          <ul class="pager">
            <li class="number"><a href="#">4</a></li>
            <li class="load-more"><a href="#">Load More</a></li>
            <li class="previous"><a href="#"><i class="fa fa-angle-right"></i></a></li>
            <li class="next"><a href="#"><i class="fa fa-angle-left"></i></a></li>
          </ul>
        </nav>
      </div><!-- Container /- -->
    </div><!-- Shop Single /- -->
</app-header>
<app-footer></app-footer>