 <!-- Container -->
    <div class="container"> <!-- cứ để nguyển tao cái div này  -->
      <div class="clients-carousel">
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-1.png" alt="client-1"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-2.png" alt="client-2"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-3.png" alt="client-3"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-4.png" alt="client-4"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-5.png" alt="client-5"/></a></div>
        
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-1.png" alt="client-1"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-2.png" alt="client-2"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-3.png" alt="client-3"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-4.png" alt="client-4"/></a></div>
        <div class="col-md-12 item"><a href="#" title="client"><img src="../../../assets/images/client-5.png" alt="client-5"/></a></div>
      </div>
    </div><!-- Container /- -->
