<main>
  <app-banner>
    <h3>Our Blog</h3>
    <p>our vision is to be Earth's most customer centric company</p>
  </app-banner>

  <!-- Container -->
  <div class="container">
    <!-- Content Area -->
    <div class="content-area blog-section blog-post col-md-8 col-sm-8 col-xs-12">
      <article class="type-post">
        <div class="entry-cover">
          <img src="../../../assets/images/blog-6.jpg" alt="blog">
          <span class="post-date"><a href="#"><i class="fa fa-calendar-o"></i>July 16</a></span>
        </div>
        <div class="blog-content">
          <h3 class="entry-title">Our shop visitor's <span>imported</span> new look</h3>
          <div class="entry-meta">
            <span class="post-like"><a href="#" title="224 Likes"><i class="fa fa-heart-o"></i>224 Likes</a></span>
            <span class="post-admin"><i class="fa fa-user"></i>Posted By <a href="#" title="Max">Max</a></span>
          </div>
          <div class="entry-content">
            <p>You wanna be where you can see our troubles are all the same. You wanna be where everybody knows You name. So lets make the most of this beautiful day. Since we're together. , We're gonna do it. On your marksget set and go now. Got a dream and we just know now we're gonna make our dream come true? Sunday is Monday Happy Days. Tuesday Wednesday Happy Days. Thursday Friday Happy Days.Saturday what a days Groovin' all week with you! Now were up in the big leagues getting' our turn at bat. Knight Rider.</p>
            <blockquote>
              <i class="fa fa-quote-left"></i>
              Were gonna pay a call on the Addams Family. I have always wanted to have a question            neighbor just like you. I've wanted to live in a neighborhood with you.
            </blockquote>
            <p>Give us any rule we'll break it. We're gonna make our dreams come true. Here he comes Here comes Speed Racer. He's a demon on wheels. Makin' your way in the world today takes everything you've got. Takin' a break from all your worries sure would help a lot. Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer. Who could it be? Believe it or not its just me.</p>
            <p>Give us any rule we'll break it. We're gonna make our dreams come true. Here he comes Here comes Speed Racer. He's a demon on wheels. Makin' your way in the world today takes everything you've got. </p>
            <div class="tags">
              <a href="#" title="Chairs">Chairs</a>
              <a href="#" title="Watches">Watches</a>
              <a href="#" title="Future">Future</a>
              <ul class="social">
                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="facebook"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="facebook"><i class="fa fa-tumblr"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- Comment Section -->
      <div class="comment-section">
        <div class="section-heading">
          <h3>comments are here<span>(3)</span></h3>
        </div>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#" title="Chris Evans"><img src="../../../assets/images/avtar-1.jpg" alt="comment"></a>
            </div>
            <div class="media-body">
              <div class="media-content">
                <h4 class="media-heading">Posted By Max</h4>
                <span><i class="fa fa-calendar-o"></i>June 18, 2016</span>
                <p>So this is the tale of our castaways they're here for a long long time. They'll have to make the best of things its an uphill climb. </p>
                <a href="#" title="Reply">Reply</a>
              </div>
            </div>
          </li>
          <li class="media media-even">
            <div class="media-left">
              <a href="#" title="Ben Afflick"><img src="../../../assets/images/avtar-2.jpg" alt="comment"></a>
            </div>
            <div class="media-body">
              <div class="media-content">
                <h4 class="media-heading">Posted By Smith</h4>
                <span><i class="fa fa-calendar-o"></i>June 18, 2016</span>
                <p>So this is the tale of our castaways they're here for a long long time.</p>
                <a href="#" title="Reply">Reply</a>
              </div>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#" title="Andrew Garfield"><img src="../../../assets/images/avtar-3.jpg" alt="comment"></a>
            </div>
            <div class="media-body">
              <div class="media-content">
                <h4 class="media-heading">Posted By Jhon</h4>
                <span><i class="fa fa-calendar-o"></i>June 21, 2016</span>
                <p>So this is the tale of our castaways they're here for a long long time. They'll have to make the best of things its an uphill climb. </p>
                <a href="#" title="Reply">Reply</a>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- Comment Section /- -->
      <!-- Comment Form -->
      <div class="comment-form">
        <div class="section-heading">
          <h3>Write Your Comments</h3>
        </div>
        <form class="row">
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <input type="text" required="" placeholder="Enter Your Name *" class="form-control">
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <input type="text" required="" placeholder="Enter Your Email *" class="form-control">
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <input type="text" required="" placeholder="Enter Your website" class="form-control">
          </div>
          <div class="form-group col-md-12">
            <textarea placeholder="Enter Your Comment . . ." rows="3" class="form-control"></textarea>
          </div>
          <input type="submit" title="send" value="send" name="send">
        </form>
      </div><!-- Comment Form /- -->
    </div><!-- Content Area /- -->

    <!-- Widget Area -->
    <div class="col-md-4 col-sm-4 col-xs-12 widget-area">
      <!-- Widget Search -->
      <aside class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search You Wants. . .">
          <span class="input-group-btn">
								<button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
							</span>
        </div>
      </aside><!-- Widget Search /- -->
      <!-- Widget Categories -->
      <aside class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
          <li><a href="#" title="Beautiful Chairs">Beautiful Chairs <span>(5)</span></a></li>
          <li><a href="#" title="Creative Designs">Creative Designs <span>(6)</span></a></li>
          <li><a href="#" title="Trendy Products">Trendy Products <span>(4)</span></a></li>
          <li><a href="#" title="Interior Products">Interior Products <span>(2)</span></a></li>
          <li><a href="#" title="Popular Products">Popular Products <span>(8)</span></a></li>
          <li><a href="#" title="Casual Shirts">Casual Shirts <span>(7)</span></a></li>
        </ul>
      </aside><!-- Widget Categories /-  -->
      <!-- Widget Latest Post -->
      <aside class="widget widget_latest_post">
        <h3 class="widget-title">recent posts</h3>
        <div class="latest-box">
          <div class="post-box">
            <a href="#"><img src="../../../assets/images/latest-post-1.jpg" alt="Post"></a>
            <h5><a href="#" title="need max shop.">need max shop</a></h5>
            <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>July 20, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
          </div>
        </div>
        <div class="latest-box">
          <div class="post-box">
            <a href="#"><img src="../../../assets/images/latest-post-2.jpg" alt="Post"></a>
            <h5><a href="#" title="Commenly use products">Commenly use products</a></h5>
            <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>June 18, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
          </div>
        </div>
        <div class="latest-box">
          <div class="post-box">
            <a href="#"><img src="../../../assets/images/latest-post-3.jpg" alt="Post"></a>
            <h5><a href="#" title="chairs are beautiful">chairs are beautiful</a></h5>
            <span><a class="calendar" href="#"><i class="fa fa-calendar-o"></i>May 23, 2016</a><a href="#"><i class="fa fa-heart-o"></i> 224 Likes</a><a href="#">Posted By Max</a></span>
          </div>
        </div>
      </aside><!-- Widget Latest Post /- -->
      <!-- Widget Tags -->
      <aside class="widget widget_tags">
        <h3 class="widget-title">popular tags</h3>
        <div class="tags-box">
          <a href="#" title="Chairs">Chairs</a>
          <a href="#" title="Modern Designs">Modern Designs</a>
          <a href="#" title="Watches">Watches</a>
          <a href="#" title="Future">Future</a>
          <a href="#" title="Popular Products">Popular Products</a>
          <a href="#" title="Trendy">Trendy</a>
          <a href="#" title="Interier">Interier</a>
          <a href="#" title="Modern">Modern</a>
        </div>
      </aside><!-- Widget Tags -->
      <!-- Widget Tags -->
      <aside class="widget widget_tweets">
        <h3 class="widget-title">latest tweets</h3>
        <!-- Main Carousel -->
        <div id="main-carousel1" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#main-carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel1" data-slide-to="1"></li>
            <li data-target="#main-carousel1" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active">
              <h5>tweet@John max</h5>
              <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
              <a href="#">http://goo.gl/6CbMtH</a>
              <span>5 Hours ago</span>
            </div>
            <div class="item">
              <h5>tweet@John max</h5>
              <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
              <a href="#">http://goo.gl/6CbMtH</a>
              <span>5 Hours ago</span>
            </div>
            <div class="item">
              <h5>tweet@John max</h5>
              <p>MAX SHOP - Creative Minimal Portfolio WordPress Theme by @ifathemes</p>
              <a href="#">http://goo.gl/6CbMtH</a>
              <span>5 Hours ago</span>
            </div>
          </div>
        </div>
      </aside>
    </div><!-- Widget Area /- -->
  </div><!-- Container /- -->
</main>