<!-- Dealing Section -->
<div id="deal" class="dealing-section container-fluid no-padding">
    <!-- Container -->
    <div class="container">
      <!-- Section Header -->
      <div class="section-header">
        <h3>Deals Of The Day</h3>
        <p>our vision is to be Earth's most customer centric company</p>
        <img src="../../../assets/images/section-seprator.png" alt="section-seprator" />
      </div><!-- Section Header /- -->
    </div><!-- Container /- -->
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="dealing-img">
        <a href="#">
          <img src="../../../assets/images/deal-1.png" alt="deal">
          <h5>mens casual shoes</h5>
          <span class="price"><del>$650</del>$459</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-6 saleup-img">
      <div data-date="2017/04/04" id="clock-1" class="clock"></div>
      <h5>mens casual shoes</h5>
      <p>The weather started getting rough the tossed. If not for the courage of the fearless crew the Minnow would be lost.  would be lost. </p>
      <a href="#" title="Shop Now" class="shop-now">Shop Now</a>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="dealing-img dealing-img2">
        <a href="#">
          <img src="../../../assets/images/deal-2.png" alt="deal">
          <h5>mens casual shoes</h5>
          <span class="price"><del>$850</del>$559</span>
        </a>
      </div>
    </div>
  </div><!-- Dealing Section /- -->